<div class="row">
    <div class="col-6 mx-auto p-4">
        <p class="h5">Audio Classifications</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <select name="" id="" class="form-control" formControlName="algo">
                    <option value="svm">Svm</option>
                    <option value="vgg19">Vgg19</option>
                </select>
            </div>
            <div class="form-group">
                <label for="wav">File</label>
                <input type="file" name="wav" id="wav" class="form-control"  (change)="onFileSelect($event)" >
            </div>
            <button class="btn btn-success float-end my-3">Predict</button>
            <h6 class="text-success">{{result}}</h6>
        </form>
    </div>
</div>